name: .NET CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - run: dotnet restore
    - run: dotnet build -c Release
    - run: dotnet test -c Release
